body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100dvh;
  flex-wrap: wrap;
}

#header {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

#header ad-menubar {
  margin: -1em;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: auto;
  height: 100%;
  padding: 1em;
  padding-top: 2em;
  box-sizing: border-box;
}
