@font-face {
  font-family: 'Premiera';
  src:  url('https://early-fox-61.deno.dev/premiera-book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Display";
  src: url('https://early-fox-61.deno.dev/sf-pro-display_semibold.woff2') format('woff2');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Display";
  src: url('https://early-fox-61.deno.dev/sf-pro-display_regular.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('https://early-fox-61.deno.dev/sf-pro-text_semibold.woff2') format('woff2');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('https://early-fox-61.deno.dev/sf-pro-text_regular.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('https://early-fox-61.deno.dev/sf-pro-text_light.woff2') format('woff2');
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: "SF Mono";
  src: url('https://early-fox-61.deno.dev/sf-mono_regular.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

:root {
  --type-display: "SF Pro Display", serif;
  --type-body: "SF Pro Text", sans-serif;
  --type-mono: "SF Mono", monospace;
  --background-color: 255, 255, 255;
  --text-color: 0, 0, 0;
  --primary-color: 12, 25, 64;
  --accent-color: 217, 136, 37;
  --soul-g: 0, 208, 193;
  --soul-b: 4, 118, 217;
  --soul:
    linear-gradient(
      120deg,
      rgba(var(--soul-g), 0.25) 61.8%,
      rgba(var(--soul-b), 0.25)
    );
  --soul-hl: rgba(253, 238, 6, 0.25);
  --soul-shadow:
    0 -1px 0 rgba(0, 255, 0, 0.25),
    1px 0 0 rgb(255, 0, 255, 0.25),
    -1px 0 0 rgb(0, 0, 255, 0.25);
  --sky:
    linear-gradient(
      135deg,
      rgb(84, 111, 191) 0%,
      rgb(113, 147, 217) 50%,
      rgb(224, 182, 242) 100%
    );
    --border-radius: 0;
}

a:visited {
  color: rgb(var(--text-color));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--type-display);
  font-size: var(--font-size-body);
  margin-bottom: var(--line-height-body);
}

header h1 a + a, header h1 a + a:link, header h1 a + a:visited {
  color: rgba(0,0,0,.2);
  display: flex;
  align-items: center;
}

header h1 a + a:hover, header h1 a + a:active {
  color: rgb(var(--accent-color));
  display: inline-flex;
  align-items: center;
}

pre, code {
  font-family: var(--type-mono);
  font-size: 14px;
}

body {
  background: var(--soul);
}

/* icons */
.symbol {
  width: var(--font-size-body);
  max-height: var(--font-size-body);
  padding-top: 2px;
}

button .symbol, a.button .symbol {
  margin-right: 4px;
}

header h1 .symbol {
  margin-left: 4px;
}

.md-icon {
  font-family: 'Material Icons';
  font-style: normal;
}
