@font-face {
  font-family: "Hoefler";
  src:  url('fonts/HoeflerTxt-Roman-TD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "HoeflerSpace";
  src:  url('fonts/HoeflerTxt-Roman-TD-Space.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Decimal";
  src: url('fonts/Decimal-Book-TD.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "DecimalSpace";
  src: url('fonts/Decimal-Book-TD-Space.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Decimal";
  src: url('fonts/Decimal-Light-TD.woff') format('woff');
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: "DecimalSpace";
  src: url('fonts/Decimal-Light-TD-Space.woff') format('woff');
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: "Operator Mono";
  src: url("fonts/OperatorMonoSSm-Book_Web.woff2") format('woff2');
  font-weight: normal;
  font-display: fallback;
}

:root {
  --type-display: "DecimalSpace", "Decimal", serif;
  --type-body: "DecimalSpace", "Decimal", sans-serif;
  --type-mono: "Operator Mono", monospace;
  --background-color: 255, 255, 255;
  --text-color: 0, 0, 0;
  --primary-color: 0, 0, 0;
  --accent-color: 0, 255, 255;
  --border-radius: 0;
}

a:visited {
  color: rgb(var(--text-color));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--type-display);
  font-size: var(--font-size-body);
  margin-bottom: var(--line-height-body);
}

#header {
  background-color: rgb(var(--text-color));
  color: rgb(var(--background-color));
}

#header h2 {
  font-size: 48px;
  margin-top: var(--line-height-body);
  margin-bottom: 2rem;
}

#header h3 {
  font-family: var(--type-body);
  font-size: 24px;
  font-weight: normal;
  font-variant-caps: normal;
  text-transform: none;
  color: rgba(255,255,255,0.8);
}

pre, code {
  font-family: var(--type-mono);
}

#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* icons */
.symbol {
  width: var(--font-size-body);
  max-height: var(--font-size-body);
  padding-top: 2px;
}

button .symbol, a.button .symbol {
  margin-right: 4px;
}

header h1 .symbol {
  margin-left: 4px;
}
